
@{
    ViewData["Title"] = "Index";
}

<div class="trainer">
  <div class="table__caption">
    <h2>My students</h2>
  </div>
  <table class="table trainer__table">
    <thead class="table__head">
      <tr>
        <th>№</th>
        <th>Student</th>
        <th>Status</th>
        <th>Request date</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr>
        <td>1</td>
        <td>Ivan Ivanov</td>
        <td>
          <button class="btn btn-primary">Leave feedback</button>
        </td>
        <td>22.12.18</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Petr Petrov</td>
        <td>
          <button class="btn btn-primary">Leave feedback</button>
        </td>
        <td>12.11.18</td>
      </tr>
    </tbody>
  </table>
</div>

