@model Profile.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div style="text-align:center;">
    <h1 class="text-danger">Oh-uh!</h1>
    <h2 class="text-danger">Something went wrong.</h2>

    <img src="~/images/we-are-sorry.png" />

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

</div>
