@{
    ViewData["Title"] = "Access denied";
}

<div style="text-align:center;">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <h4 class="text-danger">You do not have access to this resource.</h4>
    </header>
    <img src="~/images/sheriff.png" style="max-width: 300px; height: auto;"/>
</div>
